<%= simple_form_for(question, url: url, method: method ) do |f| %>
  <div class="input-field col s12">
    <%= f.input :title, class: "validate", required: false %>
  </div>

  <div class="input-field col s12">
    <%= f.input :user_email %>
  </div>

   <div class="input-field col s12">
    <%= f.input :user_name %>
  </div>

  <div class="input-field col s12">
    <%= f.input :body %>
  </div>

  <div class="waves-effect waves-light btn">
    <%= f.submit yield(:button_text), class: "btn-area" %>
  </div>

  <%= link_to 'Back to users', admins_questions_path, class: "btn-flat" %>
<% end %>
