<h1 class='question-title'><%= @question.title %></h1>

<p class='question-body'><%= sanitize @question.body %></p>

<p class='question-contacts'>Name: <%= @question.user_name %></p>
<p class='question-contacts'>email: <i><%= @question.user_email %></i></p>
<hr class='article-hr'>
<h2 class='question-title'>List of answers</h1>
<%= simple_form_for ([:admins, @question, @answer]) do |form| %>
  <%= form.input :body, label: 'Body' %>
  <%= form.button :submit %>
<% end %>
<% @answers.each do |answer| %>
  <p class='answer-body'><%= answer.body %></p>
  <%= link_to 'Delete', admins_question_answer_path(@question, answer),
    data: {method: :delete, confirm: "Are you sure?"}, class: "btn btn-danger" %>
<% end %>
<div class='group-buttons'>
    <%= link_to"All questions", admins_questions_path, class: 'article-button outline' %>
    <%= link_to url_for(:back), class: 'article-button outline' do %>
      <span><i class='material-icons'>arrow_back</i><%= t('admins.articles.views.buttons.back') %></span>
    <% end %>
</div>
 <%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>




