<h1>Edit question</h1>

<%= simple_form_for @question do |q| %>
  <%= q.input :title, label: 'Title' %>
  <%= q.input :body, label: 'Body' %>
  <%= q.input :user_name, label: 'Name' %>
  <%= q.input :user_email, label: 'Email' %>
  <%= q.button :submit, class: "btn-primary"%>
<% end %>