<h1>Питання</h1>

<% @questions.each do |question| %>
  <h3><%= question.title %></h3>


  <p><%= question.body %>
    <%= question.user_name %>
    <%= question.user_email %></p>
    <%= link_to 'Edit', edit_question_path(question) %>
    <%= link_to 'Destroy', question_path(question), method: :delete %>
    <%= link_to 'Show', question_path(question) %>
<% end %>