<h1><%= @question.title %></h1>

<p>
  <%= @question.body %>
  <%= @question.user_name %>
  <%= @question.user_email %>
</p>

<%= simple_form_for [@question, @answer] do |form| %>
  <%= form.input :body, label: 'Body' %>
  <%= fprm.button :submit, class: "btn-primary"%>
<% end %>

<h2>Answers</h2>
<% @answers.each do |answer|%>
  <p><%= answer.body %></p>
  <%= link_to 'Delete answer', question_answer_path(@question, answer), method: :delete %>
<% end %>