<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div>
  <div>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= link_to "Forgot password?", "#" %>

      <%= f.submit "Log in" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", "#" %></p>
  </div>
</div>
