<%= simple_form_for company, local: true, url: url, method: method do |f| %>
  <%= f.input :name, autofocus: true,
                     label: t('admins.companies.views.labels.name'),
                     label_html: { class: 'name-field-form' },
                     input_html: { class: 'form-input name' },
                     placeholder: t('admins.companies.views.placeholders.companies_name'),
                     error_html: { class: 'error-form-input' } %>
  <div class='short-fields'>
    <%= f.input :start_year,
                     label: t('admins.companies.views.labels.start_year'),
                     label_html: { class: 'name-field-form' },
                     input_html: { class: 'form-input' },
                     placeholder: t('admins.companies.views.placeholders.start_year'),
                     error_html: { class: 'error-form-input' } %>
  <%= f.input :projects_count,
                     label: t('admins.companies.views.labels.projects_count'),
                     label_html: { class: 'name-field-form' },
                     input_html: { class: 'form-input' },
                     placeholder: t('admins.companies.views.placeholders.projects_count'),
                     error_html: { class: 'error-form-input' } %>
  <%= f.input :clients_count,
                     label: t('admins.companies.views.labels.clients_count'),
                     label_html: { class: 'name-field-form' },
                     input_html: { class: 'form-input' },
                     placeholder: t('admins.companies.views.placeholders.clients_count'),
                     error_html: { class: 'error-form-input' } %>
  <%= f.input :grants_count,
                     label: t('admins.companies.views.labels.grants_count'),
                     label_html: { class: 'name-field-form' },
                     input_html: { class: 'form-input' },
                     placeholder: t('admins.companies.views.placeholders.grants_count'),
                     error_html: { class: 'error-form-input' } %>
  <%= f.input :language, label: t('admins.companies.views.labels.language'),
                     label_html: { class: 'name-field-form' },
                     input_html: { class: 'select-dropdown' },
                     collection: Article.languages.keys,
                     include_blank: false %>
  </div>
  <%= f.input :text_about,
                     as: :text,
                     label: t('admins.companies.views.labels.text_about'),
                     label_html: { class: 'name-field-form' },
                     input_html: {class: 'text_about'},
                     placeholder: t('admins.companies.views.placeholders.text_about'),
                     error_html: { class: 'error-form-input' } %>
  <div class='button-logo'>
    <%= f.input :media_file, as: :file,
                     label: t('admins.companies.views.buttons.upload_logo'),
                     error_html: { class: 'error-form-input for-button' } %>
    <div class='logo-preview-block'>
      <% if f.object.media_file.present? && f.object.media_file.variable? %>
        <%= image_tag f.object.media_file.variant(resize_to_limit: [100, 100]) %>
      <% else %>
        <i class='material-icons arrow-back'>image</i>
      <% end %>
    </div>
  </div>

  <div class='admin-article-group reverse'>
    <%= link_to admins_companies_path, class: 'admin-article-button' do %>
      <span class='admin-article-button_icon-text'><i class='material-icons arrow-back'>arrow_back</i><%= t('admins.articles.views.buttons.back') %></span>
    <% end %>
    <%= f.button :submit, method == 'post' ? t('admins.companies.views.buttons.create_company') : t('admins.companies.views.buttons.update_company'), class: 'admin-article-button' %>
  </div>
<% end %>
