<div class="container form-container">
  <div class="form row">
    <h2 class="center-align">Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="input-field col s12">
        <%= f.input :email, class: "validate", required: false %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="input-field col s12">
        <%= f.input :phone_number %>
      </div>

      <div class="input-field col s12">
        <%= f.input :password, required: false, label: "New password" %>
      </div>

      <div class="input-field col s12">
        <%= f.input :password_confirmation, required: false, label: "New password confirmation" %>
      </div>

      <div class="input-field col s12">
        <%= f.input :current_password, required: false %>
      </div>

      <div class="input-field col s12 button-functions">
        <div class="waves-effect waves-light btn">
          <%= f.submit "Update", "data-turbo" => false, class: "btn-area"%>
        </div>
        <% unless current_user.role_super_admin? %>
          <div class="waves-effect waves-light btn">
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-area cancel" %>
          </div>
        <% end %>
        <%= link_to "Back", :back, class: "btn-flat" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
