
<div class="dropdown-trigger-1 filter-button right" href='#' data-target="filter-dropdown">
  <i class="material-icons filter">tune</i>
  <p class="filter-title">Filter</p>
  <i class="material-icons dropdown">arrow_drop_down</i>
  <div id='filter-dropdown' class='dropdown-content'>

   <div class="row">

       <form class="col s12"> 
        <%= search_form_for @q, url: admins_users_path do |f| %>
         <div class="input-top">
           <div class="input-field col s6">
              <label class="filter-text-label">Role</label>
              <i class="material-icons select">arrow_drop_down</i>
               <%= f.select(:role_eq, 
                    options_for_select(User.roles.map {|k, v| [k.humanize.capitalize, v]}, f.object.role_eq), 
                    { include_blank: true }, 
                    {class: "form-control filter" })
                  %>
            </div>
            
          </div>

          <div class="input-middle">

            <div class="input-field col s6">
              <label class="filter-text-label">Email</label>
              <i class="material-icons select">arrow_drop_down</i>
              
            </div>              

            <div class="input-field col s6">
              <div class=" filter-text-label">
              <label class="filter-text-label">Tel.</label>
              <i class="material-icons select">arrow_drop_down</i>
             
            </div>
            
          </div>

          <div class="input-field col s6"><%= f.label :email %>
              <input type="text" placeholder="Value:">
              <%= f.text_field :email_start, class: 'form-control' %>
          </div>
          <div class="input-field col s6"><%= f.label :phone_number %>
            <input type="text" placeholder="Value:">
             <%= f.text_field :phone_number_start, class: 'form-control'  %>
          </div> 
          

          </div> 

          <div class="input-bottom">      
             <div class="input-field col s6">
               <input type="text" class="datepicker" placeholder="Start at:">  
               <i class="material-icons calendar">date_range</i>          
               <label class="filter-bottom-label">Created at:</label>
                <%= f.label :created_at_gteq %>
             </div>
             <div class="input-field col s6">
               <input type="text" class="datepicker" placeholder="Start at:">
               <i class="material-icons calendar">date_range</i>
               <label class="filter-bottom-label">Updated at:</label>
             </div>
             <div class="input-field col s6">
               <input type="text" class="datepicker" placeholder="End at:">
               <i class="material-icons calendar">date_range</i>
               <%= f.label :created_at_lteq %>
             </div>
             <div class="input-field col s6">
               <input type="text" class="datepicker" placeholder="End at:">
               <i class="material-icons calendar">date_range</i>
             </div>
          </div>   

          <div class="buttons-">
            <%= f.submit class: "filter-buttons", data: { turbolinks: false } %>
            <%= button_tag "Clear", :type => 'button', class: "filter-buttons", :onclick => "location.href = '#{request.path}'" %>
          </div>

        <% end %>
       </form> 
     </div>  
   </div>  
  
</div>

