<div class="container">
  <nav class="admin-navbar">
    <ul class="ul-admin-navbar" >
      <% if user_signed_in? %>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Profile", admins_user_path(current_user) %></li>
        <li><%= link_to "Settings", edit_admins_user_path(current_user) %></li>
        
        <% if current_user.role_admin? || current_user.role_super_admin? %>
          <li><%= link_to "Articles", '#' %></li>

          <% if current_user.role_super_admin? %>
            <li><%= link_to "Users", admins_users_path %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
</div>
