<div class="container">
    <%= link_to "Root", root_path, id: "logo" %>
    <nav>
      
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Profile", user_path(@logged_in_user) %></li>
          <li><%= link_to "Settings", edit_user_path(@logged_in_user) %></li>
          <% if admin? || super_admin? %>
            <li><%= link_to "Articles", admins_articles_show_path %></li>
            <li><%= link_to "Link3", '#' %></li>
            <li><%= link_to "Link4", "#" %></li>
            <% if super_admin? %>
              <li><%= link_to "Users", admins_users_show_path %></li>
            <% end %>
          <% end %>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>