
<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', user_path %> |
<%= link_to 'Back', admins_users_show_path %>
<div><%= "@user.id: #{@user.id}" %></div>
<div><%= "@user.role: #{@user.role}" %></div>