<% provide(:title, 'Admin/Users') %>
<p id="notice"><%= notice %></p>

<% if super_admin? %>
  <% unless @users.nil? %>
    <h1>Users</h1>

    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Tel.</th>
          <th>Role</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.tel %></td>
            <td><%= user.role %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New User', new_user_path %>
  <% end %>
<% else %>
  <h1>Access dinied</h1>
  <h2>You should log in as a super_admin first!</h2>
  Current user's id: <%= @current_user %>
<% end %>

