<%
=begin%>
 <div class="block-form">

  <%= form_with model: [:admin, @attachment], class: 'form-attachment', local: true, url: (@attachment.new_record? ? admin_attachments_path : admin_attachment_path), data: { turbo: false } do |f| %>
    <% invalid = @attachment.errors.include?(:name) %>
    
    <div class="form-group">
      <%= f.label :name, 'Name:', class: 'name-field' %>
      <%= f.text_field :name, class: "form-control #{'is-invalid' if invalid}" %>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @attachment.errors.full_messages_for(:name).each do |message| %>
            <%= message %>.
          <% end %>
        </div>
      <% end %>  
    </div>

    <% invalid = @attachment.errors.include?(:media_file) %>

    <div class="form-group">
      <label class="attachment-field">Attachment:</label>
      <%= f.label :media_file, class: "form-control #{'is-invalid' if invalid}"  do %>
          <%= f.file_field :media_file %>
          Choose a file
      <% end %>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @attachment.errors.full_messages_for(:media_file).each do |message| %>
            <%= message %>.
          <% end %>
        </div>
      <% end %> 
    </div>

    <div><%= f.submit 'Save', class: 'submit-button' %></div>
    <% end %>
    
  
</div>  
<%
=end%>


<div class="block-form">

  <%= simple_form_for @attachment, html: { class: "form-attachment"}, local: true, url: (@attachment.new_record? ? admin_attachments_path : admin_attachment_path), data: { turbo: false } do |f| %>
    <% invalid = @attachment.errors.include?(:name) %>
    
    <div class="form-group">
      <%= f.label :name, t('admin.attachments.name'), class: 'name-field' %>
      <%= f.text_field :name, class: "form-control #{'is-invalid' if invalid}" %>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @attachment.errors.full_messages_for(:name).each do |message| %>
            <%= message %>.
          <% end %>
        </div>
      <% end %>  
    </div>

    <% invalid = @attachment.errors.include?(:media_file) %>

    <div class="form-group">
      <label class="attachment-field"><%= t 'admin.attachments.media_file' %></label>
      <%= f.label :media_file, class: "form-control #{'is-invalid' if invalid}"  do %>
          <%= f.file_field :media_file %>
          <%= t 'admin.attachments.choose_file' %>
      <% end %>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @attachment.errors.full_messages_for(:media_file).each do |message| %>
            <%= message %>.
          <% end %>
        </div>
      <% end %> 
    </div>

    <div><%= f.submit 'Save', class: 'submit-button' %></div>
    <% end %>
    
  
</div> 