<% if @attachment.errors.present? %>
  <% @attachment.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="block-form">
  <%= form_for @attachment, url: { controller: "admin/attachments", action: "update" } do |f| %>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
    <br />
    <%= f.label :media_file, 'Attachment:' %>
    <%= f.file_field :media_file, class: 'choose-button'%>
    <div><%= f.submit 'Add attachment', class: 'submit-button' %></div>
  <% end %>
<div>
