<%= content_for :js do %>
  <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'new_ckeditor/classic/ckeditor', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= form_with model: article, local: true do |form| %>
<%# form_for [@article, @tag], local: true do |form| %>

  <div>
    <%= label_tag("Title:") %> <br />
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= label_tag("Autor:") %> <br />
    <%= form.text_field :user_id %>
    <% article.errors.full_messages_for(:user).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%# label_tag("Text:") %><br />
    <%= form.ckeditor :text %>
    <% article.errors.full_messages_for(:text).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= label_tag("Language:") %> <br />
    <%= form.select :language, ['ua', 'en',] %>
  </div>

  <div>
    <%= label_tag("Status:") %><br />
    <%= form.select :status, ['draft', 'published', 'trashed'] %>
  </div>
  
  <div>
    <%= form.label :tag_list %><br />
    <%= form.text_field :tag_list, value: article.tag_list_names%>
    <%# form.text_field (article.tag_list) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
