<%= content_for :js do %>
  <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
<% end %>

<% content_for :js_snippet do %>
  <% javascript_pack_tag 'ckeditor_embed_snippet' %>
<% end %>

<div class='container'>
    <div id="cover">
      <%= form_tag articles_path, id: 'article-search-form', method: :get do %>
        <div class="tb">
          <%= text_field_tag :query, params[:query], id: 'article-text-input', placeholder: t('admins.articles.search_articles') %>
          <div class="td" id="s-cover">
            <%= button_tag class: "article-search-btn", name: nil do %>
              <div id="s-circle"></div>
              <span></span>
            <% end %>
          </div>    
        </div>
      <% end %>
    </div>   
  <div class='articles-tags'>
    <ul class='articles-list'>
     <% @articles.each do |article| %>
        <li>
          <%= render 'shared/article', article: article %>
        </li>
        <hr class='article-hr'>
      <% end %>
    </ul>
    <ul class='tag-links vertical short'>
      <% @tags.each do |tag| %>
        <li class='tag-links-item'><%= link_to tag.name, tag_path(tag), class: 'tag-link' %>
      <% end %>
    </ul>
  </div>
</div>
