<%= content_for :js do %>
  <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
<% end %>

<% content_for :js_snippet do %>
  <% javascript_pack_tag 'ckeditor_embed_snippet' %>
<% end %>

<h1><%= @article.title %></h1>
<span><%= @article.user.email %></span> |
<span><%= date_as_month_and_year(@article.created_at) %></span>

<div class="ck-content"> <%= raw @article.text %></div>
<div>
<hr>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</div>


<div>
  <%# link_to "Edit", edit_admin_article_path(@article) %> |
  <%# link_to "Delete", admin_article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %> | 
  <%= link_to 'All articles', articles_path %>
</div>
<hr>
