<div class='container'>
  <div class='article-data'><%= date_as_month_and_year(@article.created_at) %></div>
  <h1 class='article-title'><%= @article.title %></h1>
  <div class='ck-content'><%= sanitize @article.text %>
                          <%# raw @article.text %></div>
  <div>
  <hr class='article-hr'>
    Tags:
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
    <% end %>
  </div>
  <div>
    <%= link_to 'All articles', articles_path, class:'article-button outline' %>
  </div>
</div>
