<h1><%= @article.title %></h1>
<span><%= @article.user.email %></span> |
<span><%= @article.created_at %></span>

<div> <%= raw @article.text %></div>

<div>
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %> | 
  <%= link_to 'Back', articles_path %>
</div>
<hr>
