<div class="mobile-menu">
  <ul class="mobile-menu_list">
    <li class="item"><%= link_to t('menu.company'), companies_path %></li>
    <li class="item"><%= link_to t('menu.articles'), articles_path %></li>
    <li class="item"><%= link_to t('menu.contacts'), about_path %></li>
    <% if user_signed_in? %>
      <li class="item"><%= link_to t('menu.signout'), destroy_user_session_path, method: :delete, class: "mobile-log" %></li>
    <% else %>
      <li class="item"><%= link_to t('menu.login'), new_user_session_path, class: "mobile-log" %></li>
    <% end %>
    <% if params[:locale] == "uk" %>
      <li class="item"><%= link_to t('en'), url_for(locale: :en) %></li>
    <% else %>
      <li class="item"><%= link_to t('uk'), url_for(locale: :uk) %></li>
    <% end %>
  </ul>
</div>
<header class="header">
  <div class="header-container">
    <div class="header-top">
      <%= link_to root_path do %>
        <%= image_tag('logo.png', class: 'logo-main') %>
      <% end %>

      <ul class="menu">
        <li class="item"><%= link_to t('menu.company'), companies_path %></li>
        <li class="item"><%= link_to t('menu.articles'), articles_path %></li>
        <li class="item"><%= link_to t('menu.contacts'), about_path %></li>
        <% if user_signed_in? %>
          <div id="user-menu">
            <i class="small material-icons">account_circle</i>
            <ul class="user-menu_content">
              <li><%= link_to t('menu.profile'), admins_user_path(current_user) %></li>
              <% if current_user.role_admin? || current_user.role_super_admin? %>
                <li><%= link_to t('menu.company'), admins_companies_path  %></li>
                <li><%= link_to t('menu.articles'), admins_articles_path  %></li>
                <li><%= link_to t('menu.attachments'), admins_attachments_path  %></li>
                <li>
                  <%= link_to admins_questions_path do %>
                    <div class='unread_question_wrapper'>
                      <div><%=t('menu.questions')%></div>
                      <% if unread_questions_size > 0 %>
                        <div class='number-in-menu'><%="#{unread_questions_size}"%></div>
                      <% end %>
                    </div>
                  <% end %>
                </li>
                <% if current_user.role_super_admin? %>
                  <li><%= link_to t('menu.users'), admins_users_path %></li>
                <% end %>
              <% end %>
              <li><%= link_to t('menu.settings'), edit_user_registration_path %></li>
              <li><%= link_to t('menu.signout'), destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <li class="item"><%= link_to t('menu.login'), new_user_session_path, id: "login" %></li>
        <% end %>
        <div class="dropdown">
          <button class="dropbtn"><%= t( I18n.locale ) %></button>
          <ul class="dropdown-cont">
            <li><%= link_to t('en'), url_for(locale: :en) %></li>
            <li><%= link_to t('uk'), url_for(locale: :uk) %></li>
          </ul>
        </div>
      </ul>
      <div class="nav-trigger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>
</header>
