<div class="about">
  <div class="team">
    <h4><%= t('about.communicate') %></h4>
    <%
=begin%>
 <h5><%= t('about.team') %></h5>
    <div class="slider-container">
      <div class="overflow">
        <div class="track">
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
        </div>
      </div>
      <a class="prev">&#10094;</a>
      <a class="next">&#10095;</a>
    </div>
<%
=end%>
  </div>

  <div class="collage">
    <h5><%= t('about.fortpost') %></h5>

    <div class="photos">
      <%= image_tag "about/picture_2" %>
      <%= image_tag "about/picture_1" %>
      <%= image_tag "about/picture_3" %>
    </div>
  </div>

  <div class="google-map__wrapper">
    <h5><%= t('about.work_here') %></h5>
    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=49000,%20%D0%BC.%20%D0%94%D0%BD%D1%96%D0%BF%D1%80%D0%BE,%20%D0%BF%D1%80%D0%BE%D1%81%D0%BF.%20%D0%94%D0%BC%D0%B8%D1%82%D1%80%D0%B0%20%D0%AF%D0%B2%D0%BE%D1%80%D0%BD%D0%B8%D1%86%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,%2075+(My%20Business%20Name)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" class="google-map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="info">
    <div class="address">
      <p><%= t('about.address') %></p>
      <p><%= t('about.email') %></p>
    </div>

    <div class="phone">
      <div class="phone-child">
        <p class="phone-child__name"><%= t('about.phone.kapliy.name') %></p>
        <p classphone-child__phone-number><i class="fa fa-phone" aria-hidden="true"></i> <%=  t('about.phone.kapliy.number') %></p>
      </div>

      <div class="phone-child">
        <p class="phone-child__name"><%= t('about.phone.vitvytskiy.name') %></p>
        <p classphone-child__phone-number><i class="fa fa-phone" aria-hidden="true"></i> <%= t('about.phone.vitvytskiy.number') %></p>
      </div>

      <div class="phone-child">
        <p class="phone-child__name"><%= t('about.phone.ivanytska.name') %></p>
        <p classphone-child__phone-number><i class="fa fa-phone" aria-hidden="true"></i> <%= t('about.phone.ivanytska.number') %></p>
      </div>

      <div class="phone-child">
        <p class="phone-child__name"><%= t('about.phone.neznaiko.name') %></p>
        <p classphone-child__phone-number><i class="fa fa-phone" aria-hidden="true"></i> <%= t('about.phone.neznaiko.number') %></p>
      </div>
    </div>

    <div class="site">
      <%= link_to t('about.site'), "https://dniprorada.gov.ua/uk/page/komunalne-pidpriemstvo-agenstvo-rozvitku-dnipra-dniprovskoi-miskoi-radi", class: 'dda-button outline' %>
    </div>
  </div>
</div>
