<div class="about">
  <div class="team">
    <h4><%= t('about.communicate') %></h4>
    <h5><%= t('about.team') %></h5>
    <div class="slider-container">
      <div class="overflow">
        <div class="track">
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>  
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>  
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>  
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>  
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>  
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>  
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>  
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>  
          <div class="member">
            <span class="member-cup">Steven Armstrong</span>
            <div class="member-info">
              <div class="profile-photo"></div>
              <p class="position">Developer</p>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus nisi iste neque aspernatur officiis consequuntur.</p>
              <p>test@gmail.com</p>
              <p>+380778772409</p>
            </div>
          </div>  
        </div>
      </div>
      <a class="prev">&#10094;</a>
      <a class="next">&#10095;</a>
    </div>
  </div>

  <div>
    <h5><%= t('about.work_here') %></h5>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2643.8578527847394!2d35.07007641566177!3d48.49761767925375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d95879f91baeff%3A0x7a056632b3e46b5e!2zU3RvbGpldG92YSBTdCwgMjEsINCU0L3RltC_0YDQvsyBLCBEbmlwcm9wZXRyb3ZzJ2thIG9ibGFzdCwgNDkwMDA!5e0!3m2!1sen!2sua!4v1662767399591!5m2!1sen!2sua" class="google-map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  
  <div class="collage">
    <h6><%= t('about.fortpost') %></h6>
    <div class="photos">  
      <%= image_tag "council", class: "basic-photo" %>
      <div class="right-photos">
        <%= image_tag "council" %>
        <%= image_tag "council" %>
        <%= image_tag "council" %>
        <%= image_tag "council" %>
      </div>
    </div>
    <p>49000, м. Дніпро, просп. Дмитра Яворницького, 75</p>
  </div>
</div>
