<div class='home-container'>
  <div class="home-container__wrapper">
    <div class="welcome-video">
      <div class="welcome-video__hider"></div>
      <iframe src="https://www.youtube.com/embed/Wnqc0i-8b7A?controls=0&autoplay=1&mute=1" allow="autoplay; encrypted-media;" ></iframe>
    </div>
    <div class="home-container__wrapper-main">
      <div class="home-container__wrapper-description">
        <div class="home-container__wrapper-description-title">
          <%= t('.welcome_video.title_uk') %><br/><%= t('.welcome_video.title_en') %>
        </div>
        <div class="home-container__wrapper-description--wrapper">
          <div class="home-container__wrapper-description-message">
            <%= t('.welcome_video.desc') %>
          </div>
          <div class="home-container__cases">
            <div class="home-container__cases-item">
              <%= image_tag("/icons/pin.png", :alt => "pin") %>
              <div class="home-container__cases-item-text">
                <%= t('.address') %>
              </div>
            </div>
            <div class="home-container__cases-item">
              <%= image_tag("/icons/measure.png", :alt => "measure") %>
              <div class="home-container__cases-item-text"><%= t('.sq_info') %></div>
            </div>
            <div class="home-container__cases-item">
              <%= image_tag("/icons/timeline.png", :alt => "timeline") %>
              <div class="home-container__cases-item-text"><%= t('.time_range') %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= button_to t('.resident_form'), new_resident_form_path, class: 'resident-form-button', method: :get, data: { turbo_frame: 'modal' } %>
</div>
