<%= simple_form_for(@user, url: url, method: method ) do |f| %>
  <div class="input-field col s12">
    <%= f.label :email, class: "active", required: false %>
    <%= f.input_field :email, class: "validate" %>
    <%= f.full_error :email %>
  </div>  
  
  <div class="input-field col s12">
    <%= f.label :Telephone, class: "active" %>
    <%= f.input_field :phone_number %>
  </div>
  
  <div class="input-field col s12">
    <% if last_super_admin? && current_user == user %>
      <div class="last-super-admin-msg"><%= "#{t('admins.users.super_admin_change_prohibited')}" %></div>
      <% button_block_protector = true %>
    <% else %>
      <% button_block_protector = false %>
    <% end %>
    <% if current_user.role_super_admin? %>
      <%= f.input :role, collection: User.roles.keys, include_blank: false, input_html: { class: 'browser-default' } %>
    <% end %>
  </div>

  <div class="input-field col s12">
    <%= f.label :password, class: "active", required: false  %>
    <%= f.input_field :password %>
    <%= f.full_error :password %>
  </div>

  <div class="input-field col s12">
    <%= f.label :password_confirmation, class: "active", required: false  %>
    <%= f.input_field :password_confirmation %>
    <%= f.full_error :password_confirmation %>
  </div>

  <div class="waves-effect waves-light btn">
    <%= f.submit yield(:button_text), class: "btn-area" %>
  </div>

  <%= link_to 'Back to users', admins_users_path, class: "btn-flat" %>
<% end %>
