<%= simple_form_for(@user, url: url, method: method ) do |f| %>
  <div class="input-field col s12">
    <%= f.input :email, class: "validate", required: false %>
  </div>  
  
  <div class="input-field col s12">
    <%= f.input :phone_number %>
  </div>
  
  <div class="input-field col s12">
    <% if user.last_super_admin? && current_user == user %>
      <div class="last-super-admin-msg"><%= "#{t('admins.users.super_admin_change_prohibited')}" %></div>
    <% end %>
    <%= f.input :role, collection: User.roles.keys, include_blank: false, input_html: { class: 'browser-default' } %>
  </div>

  <div class="input-field col s12">
    <%= f.input :password, required: false %>
  </div>

  <div class="input-field col s12">
    <%= f.input :password_confirmation, required: false %>
  </div>

  <div class="waves-effect waves-light btn">
    <%= f.submit yield(:button_text), class: "btn-area" %>
  </div>

  <%= link_to 'Back to users', admins_users_path, class: "btn-flat" %>
<% end %>
