<div class= "body-container">

  <div class="add-features">
    <%= link_to 'Create new user', new_admins_user_path, class: 'new-user' %>
  </div>

  <div class="container-records-and-filters">
    <div class="container-records">
      <%== pagy_items_selector_js(@pagy) %>
    </div>
    <%= render 'shared/filter' %>
  </div>
  

  <% if current_user.role_super_admin? %>
    <table class="body-table">
      <thead>
        <tr>
          <th class="title-table-user"> <%= link_to fa_icon('sort', text: 'Id', class:'fa-icon'), :sort => "id" %> </th>
          <th class="title-table-user"> <%= link_to fa_icon('sort', text: 'Email', class:'fa-icon'), :sort => "email"%> </th>
          <th class="title-table-user"> <%= link_to fa_icon('sort', text: 'Tel.', class:'fa-icon'), :sort => "phone_number"%> </th>
          <th class="title-table-user"> <%= link_to fa_icon('sort', text: 'Role', class:'fa-icon'), :sort => "role"%> </th>
          <th colspan="3", class="title-table-user">Functions <%= fa_icon('gear', class:'fa-icon')%> </th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="field-table-user"><%= user.id %></td>
            <td class="field-table-user"><%= user.email %></td>
            <td class="field-table-user"><%= user.phone_number %></td>
            <td class="field-table-user"><%= user.role %></td>
            <td class="field-table-user button-functions"><%= link_to fa_icon('eye', text: 'View'), admins_user_path(user), class: "button-functions" %></td>
            <td class="field-table-user button-functions"><%= link_to fa_icon('edit', text: 'Edit'), edit_admins_user_path(user), class: "button-functions" %></td>

            <% if user.current_user_last_super_admin? %>
              <td class="last-super-admin-msg field-table-user"><%= t('admins.users.last_super_admin') %></td>
            <% else %>
              <td class="field-table-user button-functions">
                <%= link_to fa_icon('trash', text: 'Delete'),
                  admins_user_path(user), 
                  method: :delete, 
                  data: { confirm: 'Are you sure?' }, 
                  class: "button-functions" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else%>
    <h2>Log in as a super_admin first</h2>
  <% end %>
  <%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
</div>
