<div class= "body-container">

  <div class="container-records-and-filters">
    <div class="container-records">
      <input class="browser-default records-per-page" type="number" value="10" step="10" min="10" id="number">
      <label class="label-records-per-page">records per page</label>
    </div>
    <%= render 'filter' %>
  </div>


  <% if current_user.role_super_admin? %>
    <table class="body-table">
      <thead>
        <tr>
          <th class="title-table-user"> <%= link_to fa_icon('sort', text: 'Id'), :sort => "id" %> </th>
          <th class="title-table-user"> <%= link_to fa_icon('sort', text: 'Email'), :sort => "email"%> </th>
          <th class="title-table-user"> <%= link_to fa_icon('sort', text: 'Tel.'), :sort => "phone_number"%> </th>
          <th class="title-table-user"> <%= link_to fa_icon('sort', text: 'Role'), :sort => "role"%> </th>
          <th colspan="3", class="title-table-user">Functions <%= fa_icon('gear')%> </th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="field-table-user"><%= user.id %></td>
            <td class="field-table-user"><%= user.email %></td>
            <td class="field-table-user"><%= user.phone_number %></td>
            <td class="field-table-user"><%= user.role %></td>
            <td class="field-table-user button-functions"><%= link_to fa_icon('eye', text: 'View'), admins_user_path(user), class: "button-functions" %></td>
            <td class="field-table-user button-functions"><%= link_to fa_icon('edit', text: 'Edit'), edit_admins_user_path(user), class: "button-functions" %></td>

            <% if user.role_super_admin? && last_super_admin? %>
              <td class="last-super-admin-msg field-table-user"><%= t('admins.users.last_super_admin') %></td>
            <% else %>
              <td class="field-table-user button-functions">
                <%= link_to fa_icon('trash', text: 'Delete'),
                  admins_user_path(user), 
                  method: :delete, 
                  data: { confirm: 'Are you sure?' }, 
                  class: "button-functions" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="add-features">
      <%= link_to 'Create new user', new_admins_user_path, class: 'new-user' %>
    </div>
  <% else%>
    <h2>Log in as a super_admin first</h2>
  <% end %>
  <%= render 'pagination' %>
</div>
