<div class="path-attachment">
  <%= link_to t('admin.attachments.title.create_new_attachment'), new_admins_attachment_path, class: 'path-new-attachment' %>
</div> 

<div class="container-records-and-filters">
  <div class="container-records">
    <%== pagy_items_selector_js(@pagy) %>
  </div>
</div>

<table class="body-table">
  <thead>
    <tr>
      <th class="title-table-attachment"><%= sort_link(@q, :id, 'Id', default_order: :asc) %></th>
      <th class="title-table-attachment"><%= sort_link(@q, :name, t('admin.attaments.name'), default_order: :asc)%></th>
      <th class="title-table-attachment"><%= t('admin.attachments.media_file') %></th>
      <th colspan="5", class="title-table-attachment"><%= t('admin.attachments.links') %> <%= fa_icon('gear')%></th>
    </tr>
  </thead>
  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td class="title-attachment"><%= attachment.id %></td>
        <td class="title-attachment"><%= attachment.name %></td>
        <td class="title-attachment"> <%= image_tag attachment.media_file.variant(resize: "200x200"), class: "image-attachment"%></td>
        <td class="title-attachment button-functions">
        <td class="title-attachment"><%= link_to fa_icon('eye', text: t('admin.attachments.view_link')), admins_attachment_path(attachment), class: "attachment-link button-functions" %></td> 
        <td class="title-attachment"><%= link_to fa_icon('edit', text: t('admin.attachments.edit_link')), edit_admins_attachment_path(attachment), class: "attachment-link button-functions" %></td> 
        <td class="title-attachment"><%= link_to fa_icon('trash', text: t('admin.attachments.delete_link')), admins_attachment_path(attachment), method: :delete, class: "attachment-link button-functions" %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
