<div class="wrapper-news">
  <div class="company-headline sub-headline"><%= t('news.headline') %></div>
  <div class="news-container">
    <% articles.each do |article|%>
      <div class="news-block">
        <div class="news-image-preview">
          <%= ArticlePresenter.new(article).article_preview_image %>
        </div>
        <div class="news-date-icon">
          <div class="news-icon"><%= image_tag('/icons/wall-clock.png') %></div>
          <div class="news-date"><%= l(article.updated_at, format: '%d %b %Y') %></div>
        </div>
        <div class="news-title-block">
          <%= link_to article.title, article_path(article), class: "news-title" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="button-load-more btn-news"><%= t('news.button_more') %></div>
</div>
