<div class="body-container">
<h1 class="company-headline _container"><%= t('admins.companies.views.title') %></h1>
<div class="wrapper-companies _container">
  <% @companies.each do |company| %>
    <% presenter = CompanyPresenter.new(company) %>
    <div class="wrapper-company">
      <div class="container-info">
        <div class="container-logo"><%= image_tag(company.media_file, class: "company-logo")%></div>
        <div class="company-info-block">
          <div class="company-name"><%= company.name %></div>
          <div class="company-info-rows">
            <% presenter.company_info.each_with_index do |item, index|%>
              <div class="company-info">
                <div class="info-number">
                  <%= item %>
                </div>
                <div class="info-text">
                  <%= presenter.company_label_texts[index] %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="container-about">
        <div class="text-about"><%= company.text_about %></div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'news', articles: @articles %>
<%= render 'docs', documents: @documents %>
<%= javascript_pack_tag 'load_more' %>

</div>
