<div class="form-container">
  <div class="form row">
    <h2 class="center-align">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-field col s12">
        <%= f.input :email, class: "validate", required: false %>
      </div>

      <div class="input-field col s12">
        <%= f.input :password, required: false %>
      </div>

      <% if devise_mapping.rememberable? %>
        <label class="input-field col s12">
          <%= f.input_field :remember_me, as: :boolean, boolean_style: :inline %>
          <span>Remember me</span>
        </label>
      <% end %>

      <div class="waves-effect waves-light btn">
        <%= f.submit "Log in", "data-turbo" => false, class: "btn-area" %>
      </div>
    <% end %>

    <div class="input-field col s12">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>