<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal",
                    turbo_modal_target: "modal",
                    action: "turbo:submit-end->turbo-modal#submitEnd
                    keyup@window->turbo-modal#closeWithKeyboard" }, class: "overlay" do %>

      <div class="modal-popup">
        <div class="modal-title">
          <%= button_tag "X", class:"btn-floating btn-small blue darken-4 right", data: { action: "turbo-modal#hideModal" }, type: "button" %>
          <%= raw t('.application') %>
        </div>

        <%= simple_form_for(@resident) do |f| %>
          <fieldset>
            <legend><%= t('.full_name') %></legend>
            <%= f.input :customer_full_name, label: false  %>
          </fieldset>
          <fieldset>
            <legend><%= t('.in_person') %></legend>
            <%= f.input :project_name, label: false %>
          </fieldset>
          <fieldset>
            <legend><%= t('.asks_to_look') %></legend>
            <%= f.input :in_person, label: false  %>
          </fieldset>
            <fieldset class="resident-contacts">
              <legend><%= t('.info_about_applicant') %></legend>
              <%= f.input :address, label: t('.legal_email_address') %>
              <%= f.input :phone, label: t('.phone') %>
              <%= f.input :email,label: t('.email') %>
            </fieldset>
          <fieldset>
            <legend><%= t('.goal') %></legend>
            <%= f.input :purpose, label: false %>
          </fieldset>
          <fieldset>
            <legend><%= t('.types_of_entrepreneurial_activity') %></legend>
            <%= f.input :activity, label: false  %>
          </fieldset>
         <div class="date-fields">
            <fieldset class="start-date-fieldset">
              <legend><%= t('.start') %></legend>
              <%= f.text_field :start_date, type: "date" %>
            </fieldset>
            <fieldset class="end-date-fieldset">
              <legend><%= t('.end') %></legend>
              <%= f.text_field :end_date, type: "date" %>
            </fieldset>
          </div>
          <fieldset>
            <legend><%= t('.square') %></legend>
            <%= f.input :area, label: false, placeholder: t('.in_hectares') %>
          </fieldset>
          <fieldset>
            <legend><%= t('.class') %></legend>
            <%= f.input :danger_class, collection: 1..5, prompt: t('.check_class'), input_html: { class: 'browser-default' },
             label: false %>
          </fieldset>
          <div class="field">
            <label>
              <%= f.input_field :electicity_supply, boolean_style: :inline %>
              <span class="electicity-supply-field"><%= t('.power_supply') %></span>
            </label>
          </div>
          <fieldset>
            <legend><%= t('.additional_requirements') %></legend>
            <%= f.input :reqirements, label: false %>
          </fieldset>

          <div class='modal-popup__button-container'>
            <%= f.button :submit, t('.send_form') %>
          </div>
        <% end %>
      </div>
  <% end %>
<% end %>
