<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal",
                    turbo_modal_target: "modal",
                    action: "turbo:submit-end->turbo-modal#submitEnd 
                    keyup@window->turbo-modal#closeWithKeyboard" }, class: "overlay" do %>

      <div class="modal-popup"> 
        <div class="modal-title">
          <%= button_tag "X", class:"btn-floating btn-small blue darken-4 right", data: { action: "turbo-modal#hideModal" }, type: "button" %>
          <p>ЗАЯВКА</p>
          про намір набуття статусу учасника Індустріального парку «INNOVATION FORPOST»
          <p>в місті Дніпрі</p>
        </div>  
    
        <%= simple_form_for(@resident) do |f| %>
          <fieldset>
            <legend> Повна назва заявника відповідно до установчих документів із зазначенням організаційно-правової форми / прізвище, ім'я, по батькові (за наявності) індивідуального підприємця)
            (далі – Заявник)</legend>
            <%= f.input :customer_full_name, label: false  %>
          </fieldset>
          <fieldset>
            <legend>В особі (Посада, П.І.Б. заявника)</legend>  
            <%= f.input :project_name, label: false %>
          </fieldset>
          <fieldset>
            <legend>
              Просить розглянути заявку про намір стати учасником Індустріального парку «INNOVATION FORPOST» з метою здійснення фінансово-господарської діяльності та реалізації інвестиційного
              проєкту:</legend>
            <%= f.input :in_person, label: false  %>
          </fieldset>
            <fieldset class="resident-contacts">
              <legend>Дані про заявника</legend>
              <%= f.input :address, label: "Юридична та поштова адреса" %>
              <%= f.input :phone, label: "Телефон" %>
              <%= f.input :email,label: "e-mail" %>
            </fieldset>
          <fieldset>
            <legend>Мета (виробнича ідея) інвестиційного проєкту Заявника</legend>
            <%= f.input :purpose, label: false %>
          </fieldset>
          <fieldset>
            <legend>Види підприємницької діяльності, які Заявник планує здійснювати на території Індустріального парку</legend>
            <%= f.input :activity, label: false  %>
          </fieldset>
         <div class="date-fields">
            <fieldset class="start-date-fieldset">
              <legend>Термін початку реалізації інвестиційного проєкту</legend>
              <%= f.text_field :start_date, type: "date" %>
            </fieldset>
            <fieldset class="end-date-fieldset">
              <legend>Термін виходу на проєктну потужність:</legend>
              <%= f.text_field :end_date, type: "date" %>
            </fieldset>  
          </div>
          <fieldset>
            <legend>Загальна площа ділянки необхідної для реалізації проєкту Заявника</legend>
            <%= f.input :area, label: false, placeholder: "В гектарах"%>
          </fieldset>
          <fieldset>
            <legend>Клас небезпеки підприємства відповідно до Державних санітарних правил планування та забудови населених пунктів (не нижче 4 та 5)</legend>
            <%= f.input :danger_class, collection: 1..5, prompt: "Виберіть клас небезпеки підприємства", input_html: { class: 'browser-default' },
             label: false %>
          </fieldset>
          <div class="field">
            <label>
              <%= f.input_field :electicity_supply, boolean_style: :inline %>
              <span class="electicity-supply-field">Потреба в електропостачанні</span>
            </label>
          </div>
          <fieldset>
            <legend>Додаткові вимоги</legend>
            <%= f.input :reqirements, label: false %>
          </fieldset>

          <%= f.button :submit, "Відправити форму", class: "btn blue darken-4" %>
        <% end %>
      </div>  
  <% end %> 
<% end %> 
