<%= content_for :js do %>
  <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'new_ckeditor/classic/ckeditor', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= simple_form_for @form, as: :article, local: true, url: url, method: method do |f| %>
  <% presenter_article = ArticlePresenter.new(f.object.article) %>
  <%= f.input :title, autofocus: true,
                      label_html: { class: 'name-field-form' },
                      placeholder: 'Type your title here',
                      input_html: { value: params[:article] && params[:article][:title] || article&.title, class: 'form-input title' },
                      error_html: { class: 'error-form-input' } %>
  <%= f.input :text, label: false,
                      as: :ckeditor,
                      input_html: { value: params[:article] && params[:article][:text] || article&.text },
                      error_html: { class: 'error-form-input' } %>
  <div class='inline-select-group'>
    <%= f.input :user_id, label: 'Author',
                      label_html: { class: 'name-field-form' },
                      as: :select,
                      input_html: { class: 'inline-select' },
                      collection: User.only_admins,
                      label_method: :email,
                      value_method: :id,
                      selected:article.user_id,
                      include_blank: false %>
    <%= f.input :language, label_html: { class: 'name-field-form' },
                      input_html: { class: 'inline-select' },
                      collection: Article.languages.keys,
                      selected: article.language,
                      include_blank: false %>
    <%= f.input :status, label_html: { class: 'name-field-form' },
                      input_html: { class: 'inline-select' },
                      collection: Article.statuses.keys,
                      selected: article.status,
                      include_blank: false,
                      class: 'inline-select' %>
  </div>
    <%= f.input :tags, label_html: { class: 'name-field-form' },
                      placeholder: 'Type your tags here',
                      hint: 'Enter tags separated by commas.',
                      input_html: { value: presenter_article.all_tags, class: 'form-input-tags' } %>
  <div class='admin-article-group reverse'>
    <%= link_to admins_articles_path, class: 'admin-article-button' do %>
      <span class='admin-article-button_icon-text'><i class='material-icons arrow-back'>arrow_back</i>Back</span>
    <% end %>
    <%= f.button :submit, method == 'post' ? 'Create article' : 'Update article', class: 'admin-article-button' %>
  </div>
<% end %>
