<div class='body-container'>
  <div class='admin-article-group'>
  <h1 class='admin-article-title'>Articles</h1>
  <%= link_to 'New Article', new_admins_article_path, class:'admin-article-button text' %>
  </div>

  <div class="container-records-and-filters">
    <div class="container-records">
      <input class="browser-default records-per-page" type="number" value="10" step="10" min="10" id="number">
      <label class="label-records-per-page">records per page</label>
    </div>
    <%= render 'filter' %>
  </div>

  <table class="body-table">
    <thead>
      <tr>
        <th class="title-table-articles wide"><%= link_to fa_icon('sort', text: 'Title', class:'fa-icon'), :sort => "title" %></th>
        <th class="title-table-articles"><%= link_to fa_icon('sort', text: 'Author', class:'fa-icon'), :sort => "user_id" %></th>
        <th class="title-table-articles"><%= link_to fa_icon('sort', text: 'Status', class:'fa-icon'), :sort => "status" %></th>
        <th class="title-table-articles"><%= link_to fa_icon('sort', text: 'Lang.', class:'fa-icon'), :sort => "language" %></th>
        <th class="title-table-articles"><%= link_to fa_icon('sort', text: 'Date', class:'fa-icon'), :sort => "updated_at" %></th>
        <th class="title-table-articles">Functions<%= fa_icon('gear', class:'fa-icon-functions')%></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td class="field-table-articles wide"><%= link_to article.title, article_path(article, locale: article.language.to_sym) %></td>
          <td class="field-table-articles narrow"><%= link_to article.user.email, admins_user_path(article.user) %></td>
          <td class="field-table-articles"><%= article.status %></td>
          <td class="field-table-articles"><%= article.language %></td>
          <td class="field-table-articles text-inline"><%= l(article.updated_at, format: '%d %b %Y') %></td>
          <td class='field-table-articles button-functions-articles'>
              <%= link_to article_path(article, locale: article.language.to_sym), class: 'button-functions-articles' do %>
                <span><i class='material-icons'>remove_red_eye</i>View</span>
              <% end %>
              <%= link_to edit_admins_article_path(article), class: 'button-functions-articles' do %>
                <span><i class='material-icons'>edit</i>Edit</span>
              <% end %>
              <%= link_to admins_article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: 'button-functions-articles' do %>
                <span><i class='material-icons'>delete</i>Delete</span>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'admins/users/pagination' %>
</div>
