<!DOCTYPE html>
<html>
  <head>
    <title>InnovationForpost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="start-block">
      <%= render 'shared/messages' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_pack_tag 'hamburger' %>
  </body>
</html>
