<!DOCTYPE html>
<html>
  <head>
    <title>InnovationForpost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="start-block container">
      <%= render 'shared/messages' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_pack_tag 'down_scripts' %>
  </body>
</html>
